body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #353535;
}

#app {
    width: 100%;
    max-width: 400px;
    background: #b8b8b8;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(53, 53, 53, 0.1);
    border-radius: 8px;
}

.hidden {
    display: none;
}

.screen h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

.comments-container, .history-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.comment-item, .review-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.screenshot-img {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
